@charset "UTF-8";

/* common */
body,header,footer,section,nav,article,aside,a,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,legend,label,input,span,img,strong,em,video,address,i,table,colgroup,col,caption,tr,th,td,tbody,thead,tfoot,select,option,button,textarea{margin:0; padding:0; -webkit-box-sizing: border-box; box-sizing:border-box;}
header,footer,article,section,nav,aside{display:block;}
input,textarea,select,button,table{font-size: inherit; font-family: inherit; line-height: inherit;}
ul,ol{list-style:none;}
img,fieldset{border:none;}
address,em{font-style:normal;}
input,img,i,select{vertical-align:middle;}
input{-webkit-appearance: none; -webkit-border-radius: 0;}
table{border-collapse:collapse; border-spacing: 0;}
a{color: inherit; text-decoration: none;}
legend,caption,.skip{overflow:hidden; visibility:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0;}

/* clearfix */
.clearfix:after{content:''; display:block; clear:both;}

/* fonts */
html{height: 100%; font-size:62.5%}
body{height: 100%; font-family:'Malgun Gothic','맑은고딕','돋움', dotum, sans-serif; font-size:1.3em; line-height: 1.5; letter-spacing: -1px; color:#333; background-color: #f6f6f6; -webkit-text-size-adjust: 100%;}
